<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <RoadsOfTheRim>Дороги Рима</RoadsOfTheRim>
  <RoadsOfTheRimAddConstructionSite>Строить</RoadsOfTheRimAddConstructionSite>
  <RoadsOfTheRimAddConstructionSiteDescription>Создать площадку для строительства дороги</RoadsOfTheRimAddConstructionSiteDescription>
  <RoadsOfTheRim_BiomePreventsConstruction>{0} не может быть построен в {1}</RoadsOfTheRim_BiomePreventsConstruction>
  <RoadsOfTheRimRemoveConstructionSite>Отменить строительство</RoadsOfTheRimRemoveConstructionSite>
  <RoadsOfTheRimRemoveConstructionSiteDescription>Удалить площадку для строительства дороги</RoadsOfTheRimRemoveConstructionSiteDescription>
  <RoadsOfTheRim_ConfirmDestroyResourcesAlreadyConsumed>Удалив эту площадку, вы потеряете ресурсы: {0}</RoadsOfTheRim_ConfirmDestroyResourcesAlreadyConsumed>
  <RoadsOfTheRim_ConstructionSiteDescription_Main>Постройка {0} завершена</RoadsOfTheRim_ConstructionSiteDescription_Main>
  <RoadsOfTheRim_ConstructionSiteDescription_Help>, помощь {0} [{1} work@{2}/sec]</RoadsOfTheRim_ConstructionSiteDescription_Help>
  <RoadsOfTheRim_ConstructionSiteDescription_HelpStartsWhen> начнётся в течении {0} дней</RoadsOfTheRim_ConstructionSiteDescription_HelpStartsWhen>
  <RoadsOfTheRim_ConstructionSiteDescription_CostModifiers>. + {0} : Возвышенность {1}, Большие холмы {2}, болота {3}, мосты {4}</RoadsOfTheRim_ConstructionSiteDescription_CostModifiers>
  <RoadsOfTheRim_ConstructionSiteDescription_Resource>{1} {0} осталось {2}{3}</RoadsOfTheRim_ConstructionSiteDescription_Resource>
  <RoadsOfTheRim_ConstructionSiteDescription_ISR2Gwork>, Сборщик дорожных ресурсов замедляет работу в 4 раза</RoadsOfTheRim_ConstructionSiteDescription_ISR2Gwork>
  <RoadsOfTheRim_ConstructionSiteDescription_AISR2Gwork>, Продвинутый Сборщик дорожных ресурсов замедляет работу в 2 раза</RoadsOfTheRim_ConstructionSiteDescription_AISR2Gwork>
  <RoadsOfTheRim_ConstructionSiteDescription_ISR2GFree>, Бесплатный сбор ресурсов с помощью Сборщик дорожных ресурсов</RoadsOfTheRim_ConstructionSiteDescription_ISR2GFree>
  <RoadsOfTheRim_ConstructionSiteDescription_AISR2GFree>, Бесплатный сбор ресурсов с помощью Продвинутый Сборщик дорожных ресурсов</RoadsOfTheRim_ConstructionSiteDescription_AISR2GFree>
  <RoadsOfTheRim_WITab_Caravan_Build>Строить</RoadsOfTheRim_WITab_Caravan_Build>
  <RoadsOfTheRim_commsAskHelp>Обратиться к союзнику за помощью в дорожном строительстве (стоимость: 10 репутации)</RoadsOfTheRim_commsAskHelp>
  <RoadsOfTheRim_commsNoSites>Не найдено строительных площадок</RoadsOfTheRim_commsNoSites>
  <RoadsOfTheRim_commsAlreadyHelping>Эта фракция уже помогает со строительством дорог</RoadsOfTheRim_commsAlreadyHelping>
  <RoadsOfTheRim_commsHasHelpedRecently>Эта фракция уже участвовала в строительстве дорог. Она может снова помочь через {0} дней</RoadsOfTheRim_commsHasHelpedRecently>
  <RoadsOfTheRim_commsNotClose>{0} недостаточно близко, чтобы помочь на этой стройке</RoadsOfTheRim_commsNotClose>
  <RoadsOfTheRim_commsAnotherFactionIsHelping>{0} уже помогает с этой стройкой</RoadsOfTheRim_commsAnotherFactionIsHelping>
  <RoadsOfTheRim_commsNotDevelopedEnough>{0} недостаточно развит, чтобы строить {1}</RoadsOfTheRim_commsNotDevelopedEnough>
  <RoadsOfTheRim_commsSitesList>Строительные площадки</RoadsOfTheRim_commsSitesList>
  <RoadsOfTheRim_commsCancel>Отмена - не хватает репутации</RoadsOfTheRim_commsCancel>
  <RoadsOfTheRim_FactionStartsHelping>Помощь в строительстве</RoadsOfTheRim_FactionStartsHelping>
  <RoadsOfTheRim_FactionStartsHelpingText>{0} согласился помочь построить {1}, помощь начнётся через {2} дней</RoadsOfTheRim_FactionStartsHelpingText>
  <RoadsOfTheRim_FactionStopsHelping>Помощь отменена</RoadsOfTheRim_FactionStopsHelping>
  <RoadsOfTheRim_FactionStopsHelpingText>{0} больше не ваш союзник и перестал помогать в строительстве {1}</RoadsOfTheRim_FactionStopsHelpingText>
  <RoadsOfTheRimWorkOnSite>Работа</RoadsOfTheRimWorkOnSite>
  <RoadsOfTheRimWorkOnSiteDescription>Работы на дорожно-строительной площадке</RoadsOfTheRimWorkOnSiteDescription>
  <RoadsOfTheRim_InsufficientConstructionMinLevel>Строительство дороги сократилось до {0} : нужно {1} рабочей силы, чтобы иметь как минимум строительные навыки {2}</RoadsOfTheRim_InsufficientConstructionMinLevel>
  <RoadsOfTheRimSettingsCategoryLabel>Дороги Рима</RoadsOfTheRimSettingsCategoryLabel>
  <RoadsOfTheRimSettingsBaseEffort>Базовый множитель затрат на строительство дороги</RoadsOfTheRimSettingsBaseEffort>
  <RoadsOfTheRimSettingsOverrideCosts>Отменить стандартные множители движения (требуется перезапуск игры)</RoadsOfTheRimSettingsOverrideCosts>
  <RoadsOfTheRimSettingsElevationThreshold>Высота, с которой начинается рост затрат</RoadsOfTheRimSettingsElevationThreshold>
  <RoadsOfTheRimSettingsUpgradeRebate>Процент ресурсов, сохранённых от существующих дорог</RoadsOfTheRimSettingsUpgradeRebate>
  <RoadsOfTheRimSettingsUseISR2G>Использовать сборщик ресурсов дороги на месте</RoadsOfTheRimSettingsUseISR2G>
  <RoadsOfTheRim_CaravanInspectStringWorkingOn>Работа над : {0} [{1} работы в секунду]</RoadsOfTheRim_CaravanInspectStringWorkingOn>
  <RoadsOfTheRimBuildConstructionSiteAlreadyHere>Здесь уже есть строительная площадка</RoadsOfTheRimBuildConstructionSiteAlreadyHere>
  <RoadsOfTheRimBuildConstructionSiteNotAlreadyHere>Здесь нет строительной площадки</RoadsOfTheRimBuildConstructionSiteNotAlreadyHere>
  <RoadsOfTheRim_CreateConstructionSiteMenuOption>{0} (движение: {1})</RoadsOfTheRim_CreateConstructionSiteMenuOption>
  <RoadsOfTheRim_NoBetterRoadCouldBeBuilt>Лучшей дороги не может быть построено</RoadsOfTheRim_NoBetterRoadCouldBeBuilt>
  <RoadsOfTheRim_MustPickNeighbouringTile>Необходимо выбрать соседний участок</RoadsOfTheRim_MustPickNeighbouringTile>
  <RoadsOfTheRim_SameRoadAlreadyExists>Подобная дорога уже существует между этими двумя участками.</RoadsOfTheRim_SameRoadAlreadyExists>
  <RoadsOfTheRim_BuildToHere>Постоить дорогу здесь</RoadsOfTheRim_BuildToHere>
  <RoadsOfTheRimStopWorkingOnSite>Прекратить работу</RoadsOfTheRimStopWorkingOnSite>
  <RoadsOfTheRimStopWorkingOnSiteDescription>Прекратить работу на строительной площадке</RoadsOfTheRimStopWorkingOnSiteDescription>
  <RotR_EveryoneDown>Все недееспособны</RotR_EveryoneDown>
  <RotR_EveryoneCrazy>У всех психологический срыв</RotR_EveryoneCrazy>
  <RotR_TooHeavy>Слишком тяжело двигаться</RotR_TooHeavy>
  <RotR_RestingAtNight>отдыхает ночью. Работа возобновится утром.</RotR_RestingAtNight>
  <RotR_CaravanStopped>{0} прекратил строительство {1} : </RotR_CaravanStopped>
  <RotR_CaravanWakesUp>{0} продолжил строительство {1}</RotR_CaravanWakesUp>
  <RoadsOfTheRimBuildWorkOnSiteCantWork>{0} не получается построить дорогу прямо сейчас</RoadsOfTheRimBuildWorkOnSiteCantWork>
  <RoadsOfTheRim_BetterRoadFound>{0} найдена лучшая дорога {1} при строительстве {2} и переходит к следующему этапу</RoadsOfTheRim_BetterRoadFound>
  <RoadsOfTheRim_siteInspectString>Cтроительство {0} (сложность передвижения {1});</RoadsOfTheRim_siteInspectString>
  <RoadsOfTheRim_siteDescription>{0} ({1} дней)</RoadsOfTheRim_siteDescription>
  <RoadsOfTheRim_siteDescriptionExtra> и {0} больше</RoadsOfTheRim_siteDescriptionExtra>
  <RoadsOfTheRim_siteFullName>Строительная площадка {0}</RoadsOfTheRim_siteFullName>
  <RoadsOfTheRim_siteFullNameNeighbours> возле {0}</RoadsOfTheRim_siteFullNameNeighbours>
  <RoadsOfTheRim_CaravanNoResource>{0} закончились ресурсы для строительства {1}. Работа остановлена.</RoadsOfTheRim_CaravanNoResource>
  <RoadsOfTheRim_CaravanNoWork>{0} нет поселенцев чтобы строить {1}. Работа остановлена.</RoadsOfTheRim_CaravanNoWork>
  <RoadsOfTheRim_UpgradeRebate>Существующая дорога снижает затраты на строительство {0} на {1}</RoadsOfTheRim_UpgradeRebate>
  <RoadsOfTheRim_UpgradeRebateDetail>{0} {1}</RoadsOfTheRim_UpgradeRebateDetail>
  <RoadsOfTheRim_RoadBuilt>Дорога построена</RoadsOfTheRim_RoadBuilt>
  <RoadsOfTheRim_RoadBuiltLetterText>{0} был построен {1}</RoadsOfTheRim_RoadBuiltLetterText>
  <RoadsOfTheRim_RoadBuiltByAlly>ваш союзник</RoadsOfTheRim_RoadBuiltByAlly>
  <RoadsOfTheRim_RoadEquipment>Дорожная техника</RoadsOfTheRim_RoadEquipment>
</LanguageData>